h1 {
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    }
    
    body {
        background-color: #ffffff;
        background-image: url('resumo-borrao-shopping_74190-5812.avif');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
    }
    
    label {
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    .form-centralizado {
        display: flex;
        flex-direction: column; 
        width: 300px; 
        margin: 0 auto;
    }
    
    .meuinput {
        border: 1px solid #000;
    }
    
    label {
        margin-bottom: 5px; 
    }
    
    p {
     
    color: #020101;
    font-family: 'Montserrat', sans-serif;
    }
    
    td {
        color: rgb(0, 0, 0);
        border: 1px solid #000;
        font-weight: bold; 
    }
    th {
        color: rgb(0, 0, 0);
        border: 1px solid #000;
        font-weight: bold; 
    }
    .div_img {
        text-align: center;
    }
    
    section {
        background-image: url("resumo-borrao-shopping_74190-5812.avif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .btn-pesquisar {
        margin-top: 10px; /* Espaço entre os botões */
        background-color: #4CAF50; /* Verde */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-pesquisar:hover {
        background-color: #45a049; /* Verde mais escuro */
    }